
.article-transact {
    display: inline-block;
    background-color: white;
    width: 100%;
    min-height: 400px;
}

.box-project-upper {
    width: 90%;
    margin: 0 5%;
    display: inline-block;
}

/*项目图标*/
.box-project-upper img {
    margin-right: 20px;
    border-radius: 24px;
    background-color: darkgrey;
    text-align: center;
    font-size: 32px;
    max-width: 48px;
    max-height: 48px;
    /*设置元素向下对齐*/
    vertical-align: bottom;
}

/*项目名称*/
.box-project-upper span {
    position: relative;
    top: -10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

/*项目描述*/
.box-project-upper p {
    font-size: 14px;
    line-height: 20px;
    color: #6F767C;
    margin: 0;
}

.box-project-lower {
    width: 90%;
    margin: 0 5%;
    padding: 10px 0;
}

.box-project-lower .project-total {
    color: #00A3FF;
    display: inline;
    margin-left: 10px;
}

.box-project-lower .contributions {
    color: black;
    display: inline;
    float: right;
    margin-right: 20px;
}

