.container-ad {
    width: 100%;
    text-align: center;
}
.panel-main-ad {
    margin-top: 50px;
    width: 80vw;
    min-width: 900px;
    display: inline-block;
    background-color: white;
    text-align: left;
}
.panel-upper-ad {
    width: 100%;
    display: inline-block;
    min-height: 200px;
}
.panel-lower-ad {
    width: 100%;
    display: inline-block;
    min-height: 200px;
}
.panel-upper-ad .panel-project-ad {
    width: 90%;
    margin: 0 5% 25px 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
}
.panel-upper-ad .panel-project-ad img {
    padding: 5px;
    margin-right: 20px;
    border-radius: 24px;
    background-color: darkgrey;
    text-align: center;
    font-size: 32px;
    max-width: 50px;
    max-height: 50px;
    vertical-align: bottom;
}
.panel-project-ad .panel-project-text-ad {
    position: relative;
    top: 15px;
    display: inline-block;
}
.panel-upper-ad .panel-amount-ad {
    width: 90%;
    margin: 0 5% 25px 5%;
}
.amount-number {
    color: #00A3FF;
}



.panel-pwallet-main {
    width: 100%;
    display: inline-block;
}

.panel-pwallet-main .panel-pwallet-amount {
    width: 100%;
    padding-left: 50px;
    padding-top: 50px;
}

.panel-pwallet-amount .panel-projectIcon {
    width: 95%;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid darkgrey;
}

.panel-pwallet-amount .panel-projectIcon img {
    padding: 5px;
    margin-right: 20px;
    border-radius: 24px;
    background-color: darkgrey;
    text-align: center;
    font-size: 32px;
    max-width: 50px;
    max-height: 50px;
    vertical-align: bottom;
}

.panel-projectIcon .panel-project-text {
    position: relative;
    top: 15px;
    display: inline-block;
}

.panel-pwallet-amount .amount-number {
    color: #00A3FF;
}

.panel-pwallet-income-history {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: white;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 25px;
}

.panel-pwallet-income-history .panel-pwallet-history-title {
    width: 90%;
    margin: 20px auto;
}

.panel-pwallet-income-history .panel-pwallet-income-table {
    width: 90%;
    margin: 20px auto;
}

.panel-pwallet-income-table .income-pwallet-table-title {
    height: 30px;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
}

.income-pwallet-table-title .income-pwallet-table-title-first {
    display: inline-block;
    margin: 0 25px;
    width: 100px;
}

.income-pwallet-table-title .income-pwallet-table-title-item {
    display: inline-block;
    width: 120px;
}

.income-pwallet-table-title .income-pwallet-table-title-date {
    display: inline-block;
    width: 230px;
}

.panel-pwallet-income-table .income-pwallet-table-content {
    width: 100%;
}

.income-pwallet-table-content .income-pwallet-table-row {
    display: block;
    padding-top: 15px;
    height: 40px;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    border-bottom: 1px solid darkgrey;
}

.income-pwallet-table-row .income-pwallet-row-item-first {
    display: inline-block;
    margin: 0 25px;
    width: 100px;
}

.income-pwallet-table-row .income-pwallet-row-item {
    display: inline-block;
    width: 120px;
}

.income-pwallet-table-row .income-pwallet-row-date {
    display: inline-block;
    width: 230px;
}
