.panel-item-main {
    width: 500px;
    padding: 20px;
    min-height: 500px;
    margin: 30px auto;
    background-color: #eeeeee;
    text-align: center;
}

.legend-item {
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    padding: 25px 0;
}

.panel-item-main .panel-item-inner {
    width: 86%;
    padding: 50px 7%;
    text-align: left;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.input {
    margin-bottom: 30px;
    padding: 8px 30px;
    /*输入框区域的大小*/
    border: 5px solid #eeeeee;
    background: #eeeeee;
}

.input input {
    width: 80%;
    height: 40px;
    display: inline;
    /*边框颜色:无*/
    border: none;
    outline: none;
    background: transparent;
}

.panel-item-text {
    margin: 10px 0;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 100;
    color: #000;
    border-top: 1px solid black;
}

.submit {
    background: green;
    width: 100%;
    border: 2px solid green;
    cursor: pointer;
    /*按钮高度*/
    padding: 18px 0;

    font-size: 15px;
    font-weight: 100;
    color: white;
    margin: 20px auto;
}

.submit:hover {
    transition-duration: 0.4s;
    color: #000;
    background-color: white;
}

/*复选框面板*/
.panel-radio {
    margin-top: 10px;
    width: 100%;
}

.panel-radio .radio-label {
    margin-right: 36px;
}

/*input的name属性要相同*/
.panel-radio input {
    left: -9999px;
    right: -9999px;
    position: absolute;
}

.panel-radio input:checked+label {
    background-color: #42b983;
    border: 1px solid #42b983;
    color: white;
}

/*复选框样式*/
.radio-label label {
    height: 12px;
    width: 12px;
    border-radius: 24px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    vertical-align: middle;
    margin-top: -4px;
}

