.panel-navigateBar {
    width: 85vw;
    height: 65px;
    margin: 10px auto;
    color: black;
}

.panel-navigateBar .home-navigate {
    margin: 12px 35px;
    padding: 7px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    display: inline-block;
    vertical-align: center;
    float: left;

    color: green;
}

.home-navigate:hover {
    transition-duration: 0.4s;
    color: #000;
    cursor: pointer;
}

.panel-navigateBar .exit-navigate {
    margin: 10px 5px;
    padding: 7px 40px;
    width: 100px;
    font-weight: 100;
    font-size: 18px;
    float: right;
    cursor: pointer;
}

.panel-navigateBar .exit-navigate:hover {
    opacity: 70%;
}

.panel-navigateBar img {
    width: 30px;
    height: 30px;
    margin: 15px;
    color: white;
    font-weight: 100;
    font-size: 15px;
    float: right;
    border-radius: 1000px;
}


