table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
}

caption {
    font-size: 25px;
    margin: 1em auto;
}
.small {
    font-size: 16px !important;
    margin: 0.5em auto;
}
th,td {
    font-size: 1em;
    font-weight: 300;
    padding: .65em;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
}

.avatar {
    max-width: 25px;
    max-height: 25px;
}
.operator {
    font-style: italic;
}

.operator:hover {
    transition-duration: 0.3s;
    color: red;
    cursor: pointer;
}
